<!DOCTYPE html>
<html>
  <head>
    <title>MealPlanner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Recipes</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
        </ul>
        <% if user_signed_in? %>
          <p class="navbar-text pull-right"><%= current_user.email %> | <%= link_to 'Log out', destroy_user_session_path, method: 'DELETE' %></p>
        <% else %>
          <p class="navbar-text pull-right"><%= link_to 'Sign in', new_user_session_path %> | <%= link_to 'Sign up', new_user_registration_path %></p>
        <% end %>
      </div>
    </div>

    <div class="container">
      <% if notice.present? %>
        <p class="alert alert-success notice"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
